<div class="container my-3">
  <div class="d-flex justify-content-center">

    <div class="card my-5 text-center" style="width: 20rem;">
      <h2 class="card-title fw-bold">URL-Shortener</h2>
      <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/47999/preview.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <form action="/shortURL" method="POST">
          <div class="row">
            <input type="url" name="fullURL" id="fullURL" placeholder="URL...">
            <div class="col align-self-center">
              <button type="submit" class="btn btn-primary col-6 mt-3">Shorten</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>