<div class="card-body">
  <form action="/shortURL" method="POST">
    <div class="row">
      <input type="url" name="fullURL" id="fullURL" placeholder="URL...">
      <div class="col align-self-center">
        <button type="submit" class="btn btn-primary col-6 mt-3">Shorten</button>
      </div>
    </div>
  </form>
</div>